# CSF submission
ssprove_csf2021.zip
ssprove_csf2021/
_testbuild_ssprove_csf2021/
_namecheck_ssprove_csf2021/

# Coq
*.v.d
*.vo
*.vok
*.vos
*.glob
.coqdeps.d

# coq_makefile
.Makefile.d
Makefile.coq
.Makefile.coq.d
Makefile.conf
Makefile.coq.conf
*.cache

# dependency graph
*.dot
*.svg

# Editors
*~
*\#
.\#*
*.md.tmp

# markdown preview
*.html

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex
*.synctex.gz
*.toc
*.snm
*.nav
*.vrb
*.cut
*.fls
*.fdb_latexmk
*/auto/*.el

# macOS
.DS_store
