# Coq
*.v.d
*.vo
*.vok
*.vos
*.glob
.coqdeps.d

# coq_makefile
.Makefile.d
Makefile.coq
.Makefile.coq.d
Makefile.conf
Makefile.coq.conf
*.cache

# dependency graph
*.dot
*.svg

# Editors
*~
*\#
.\#*

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex
*.synctex.gz
*.toc
*.snm
*.nav
*.vrb
*.cut
*.fls
*.fdb_latexmk
